{
    "openapi": "3.0.1",
    "info": {
      "title": "Cobranças API",
      "description": "API para gerenciar os serviços de cobranças de cliente do Banco do Brasil S.A.",
      "contact": {
        "name": "Banco do Brasil S.A. - BB for Developers",
        "url": "https://developers.bb.com.br"
      },
      "version": "2.10"
    },
    "externalDocs": {
      "url": "https://apoio.developers.bb.com.br/referency/post/5f4f8342b71fb5001268c9ac"
    },
    "servers": [
      {
        "url": "https://api.sandbox.bb.com.br/cobrancas/v2",
        "description": "Servidor de Homologação"
      },
      {
        "url": "https://api.hm.bb.com.br/cobrancas/v2",
        "description": "Servidor de Homologação2"
      },
      {
        "url": "https://api.bb.com.br/cobrancas/v2",
        "description": "Servidor de Produção"
      }
    ],
    "security": [
      {
        "OAuth2": ["cobrancas.boletos-info"]
      }
    ],
    "paths": {
      "/boletos": {
        "get": {
          "summary": "Lista Boletos",
          "description": "Listar títulos de cobrança - Em Ser, Baixados, Liquidados e Com Protesto por Beneficiário.",
          "parameters": [
            {
              "name": "gw-dev-app-key",
              "in": "query",
              "description": "É a chave de acesso do aplicativo do desenvolvedor utilizada em produção, obtida no Portal do Desenvolvedor. Essa chave será usada para identificação do aplicativo.\n\nPara os testes em ambiente de homologação, trocar por gw-app-key. \n\nEx: 0021239456d80136bebf005056891bed. \nCAMPO OBRIGATÓRIO.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "Authorization",
              "in": "header",
              "description": "É um \"token\" de acesso fornecido pelo OAuth 2.0.\nEx: Bearer [ACCESS_TOKEN]",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "indicadorSituacao",
              "in": "query",
              "description": "Situação do boleto. Campo obrigatoriamente MAIÚSCULO.\nDomínios:\nA - Em ser\nB - Baixados/Protestados/Liquidados",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "contaCaucao",
              "in": "query",
              "description": "Número da conta caução.\n\nDomínio:\n1 - Compõe Garantia;\n2 - Não Compõe Garantia;\n4 - Não Compõe Garantia (vencimento superior a 180 dias);\n5 - Não Compõe Garantia (Vedado);\n6 - Em análise;\n7 - Em análise;\n8 - Não Compõe Garantia.",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "agenciaBeneficiario",
              "in": "query",
              "description": "Número da agência do beneficiário, sem o dígito verificador. Ex: 452. CAMPO OBRIGATÓRIO.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "contaBeneficiario",
              "in": "query",
              "description": "Número da conta do beneficiário, sem o dígito verificador. Ex: 123873. CAMPO OBRIGATÓRIO.",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "carteiraConvenio",
              "in": "query",
              "description": "Número da carteira do convênio de cobrança. Ex: 17",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "variacaoCarteiraConvenio",
              "in": "query",
              "description": "Número da variação da carteira do convênio de cobrança. Ex: 35",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "modalidadeCobranca",
              "in": "query",
              "description": "Código para identificar a característica dos boletos dentro das modalidades de cobrança existentes no BB.\nDomínio:\n1 - SIMPLES COM REGISTRO\n2 - SIMPLES SEM REGISTRO\n4 - VINCULADA\n6 - DESCONTADA\n8 - FINANCIADA VENDOR",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "cnpjPagador",
              "in": "query",
              "description": "CNPJ do pagador\nEx: 123456789012",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "digitoCNPJPagador",
              "in": "query",
              "description": "Dígito verificador do CNPJ do pagador\nEx: 12",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "cpfPagador",
              "in": "query",
              "description": "CPF do pagador sem o dígito. Ex: 711285901",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            },
            {
              "name": "digitoCPFPagador",
              "in": "query",
              "description": "Dígito verificador do CPF do pagador. Ex: 82",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "dataInicioVencimento",
              "in": "query",
              "description": "Data inicial de vencimento do boleto que delimita o período da consulta. Campo não obrigatório. Se informado Data Início, deixando em branco a Data Fim, o sistema deve assumir a data atual como Data Fim. Ex: 22.04.2020",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "dataFimVencimento",
              "in": "query",
              "description": "Data final de vencimento do boleto que delimita o período da consulta - deverá ser maior que a data de início. Campo não obrigatório. Se informado, deverá ser preenchido dataInicioVencimento. Ex: 28.04.2020",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "dataInicioRegistro",
              "in": "query",
              "description": "Data inicial do registro do boleto que delimita o período da consulta. Ex: 22.04.2020",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "dataFimRegistro",
              "in": "query",
              "description": "Data final do registro do boleto que delimita o período da consulta - deverá ser maior que a data de início. Campo não obrigatório. Se informado, deverá ser preenchido dataInicioRegistro. Ex: 28.04.2020",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "dataInicioMovimento",
              "in": "query",
              "description": "Delimita o período da consulta  de boletos liquidados, baixados ou protestados, caso seja informado, no campo codigoEstadoTituloCobranca os códigos 05, 06, 07 ou 09. Ex: 22.04.2020",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "dataFimMovimento",
              "in": "query",
              "description": "Data final do movimento que delimita o período da consulta  de boletos liquidados, baixados ou protestados, caso seja informado, no campo codigoEstadoTituloCobranca os códigos 05, 06, 07 ou 09. Data fim deverá ser maior que a data de início. Campo não obrigatório. Se informado, deverá ser preenchido dataInicioMovimento. Ex: 28.04.2020",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "codigoEstadoTituloCobranca",
              "in": "query",
              "description": "Código da situação atual do boleto. \n\nDomínios:\n\n01 - NORMAL\n02 - MOVIMENTO CARTORIO\n03 - EM CARTORIO\n04 - TITULO COM OCORRENCIA DE CARTORIO\n05 - PROTESTADO ELETRONICO\n06 - LIQUIDADO\n07 - BAIXADO\n08 - TITULO COM PENDENCIA DE CARTORIO\n09 - TITULO PROTESTADO MANUAL\n10 - TITULO BAIXADO/PAGO EM CARTORIO\n11 - TITULO LIQUIDADO/PROTESTADO\n12 - TITULO LIQUID/PGCRTO\n13 - TITULO PROTESTADO AGUARDANDO BAIXA\n14 - TITULO EM LIQUIDACAO\n15 - TITULO AGENDADO\n16 - TITULO CREDITADO\n17 - PAGO EM CHEQUE - AGUARD.LIQUIDACAO\n18 - PAGO PARCIALMENTE CREDITADO\n80 - EM PROCESSAMENTO (ESTADO TRANSITÓRIO)",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "boletoVencido",
              "in": "query",
              "description": "Indica se o Boleto está vencido ou não. Campo obrigatoriamente MAIÚSCULO.\nDomínio:\nS para boletos vencidos\nN para boletos não vencidos",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "indice",
              "in": "query",
              "description": "Somente deve ser utilizado em caso de pesquisas que retornem mais de 300 boletos. Caso o campo RPST \"Indicador Continuidade\" retorne com o valor \"S\", o usuário deve informar o conteúdo do campo RPST \"Numero Ultimo Registro\" a partir do qual será iniciada nova consulta.\n",
              "schema": {
                "type": "integer",
                "format": "int64"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "SUCESSO. A requisição foi atendida e resultou em resposta.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/RespostaListaBoletos"
                    }
                  }
                }
              }
            },
            "400": {
              "description": "REQUISIÇÃO INVÁLIDA. O servidor não pôde processar a requisição devido a uma sintaxe de requisição malformada, estrutura da mensagem da requisição inválida, ou valores inválidos.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erro-v2"
                  }
                }
              }
            },
            "401": {
              "description": "NÃO AUTORIZADO. A requisição requer autenticação do usuário.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErroOAuthNaoAutorizado"
                  }
                }
              }
            },
            "404": {
              "description": "NÃO ENCONTRADO. O servidor não conseguiu encontrar o recurso solicitado.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object"
                  }
                }
              }
            },
            "500": {
              "description": "ERRO INTERNO. O servidor encontrou uma condição inesperada que o impediu de atender a requisição.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erro-v2"
                  }
                }
              }
            },
            "503": {
              "description": "SERVIÇO INDISPONÍVEL. No momento o servidor não pode atender a solicitação devido a uma sobrecarga temporária ou manutenção do servidor.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erro-v2"
                  }
                }
              }
            }
          },
          "security": [
            {
              "OAuth2": ["cobrancas.boletos-info"]
            }
          ],
          "operationId": "listaBoletosId",
          "tags": ["boletos"]
        },
        "post": {
          "summary": "Registra Boleto de Cobrança",
          "description": "Permite incluir um novo boleto de cobrança ",
          "parameters": [
            {
              "name": "gw-dev-app-key",
              "in": "query",
              "description": "É a chave de acesso do aplicativo do desenvolvedor utilizada em produção, obtida no Portal do Desenvolvedor. Essa chave será usada para identificação do aplicativo.\n\nPara os testes em ambiente de homologação, trocar por gw-app-key. \n\nEx: 0021239456d80136bebf005056891bed. \nCAMPO OBRIGATÓRIO.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "Authorization",
              "in": "header",
              "description": "É um \"token\" de acesso fornecido pelo OAuth 2.0.\nEx: Bearer [ACCESS_TOKEN]",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequisicaoRegistroBoletos"
                }
              }
            },
            "required": true
          },
          "responses": {
            "201": {
              "description": "CRIADO. A solicitação foi atendida e resultou em um novo recurso sendo criado.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/RespostaRegistroBoletos"
                  }
                }
              }
            },
            "400": {
              "description": "REQUISIÇÃO INVÁLIDA. O servidor não pôde processar a requisição devido a uma sintaxe de requisição malformada, estrutura da mensagem da requisição inválida, ou valores inválidos.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erro-v4"
                  }
                }
              }
            },
            "401": {
              "description": "NÃO AUTORIZADO. A requisição requer autenticação do usuário.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErroOAuthNaoAutorizado"
                  }
                }
              }
            },
            "500": {
              "description": "ERRO INTERNO. O servidor encontrou uma condição inesperada que o impediu de atender a requisição.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erro-v4"
                  }
                },
                "application/xml": {
                  "schema": {
                    "type": "object",
                    "properties": {}
                  }
                }
              }
            },
            "503": {
              "description": "SERVIÇO INDISPONÍVEL. O servidor está impossibilitado de lidar com a requisição no momento. Tente mais tarde.\n",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erro-v4"
                  },
                  "examples": {
                    "example-1": {
                      "value": {}
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "OAuth2": ["cobrancas.boletos-requisicao"]
            }
          ],
          "x-codegen-request-body-name": "body",
          "operationId": "incluiBoletoBancarioId",
          "tags": ["boletos"]
        }
      },
      "/boletos/{id}": {
        "get": {
          "summary": "Detalha um boleto bancário",
          "description": "Consulta detalhes de um boleto bancário.",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "Número do título de cobrança.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "gw-dev-app-key",
              "in": "query",
              "description": "É a chave de acesso do aplicativo do desenvolvedor utilizada em produção, obtida no Portal do Desenvolvedor. Essa chave será usada para identificação do aplicativo.\n\nPara os testes em ambiente de homologação, trocar por gw-app-key. \n\nEx: 0021239456d80136bebf005056891bed. \nCAMPO OBRIGATÓRIO.\n",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "Authorization",
              "in": "header",
              "description": "É um “token” de acesso fornecido pelo OAuth 2.0.\n\n\n\nExample: Bearer [ACCESS_TOKEN]",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "numeroConvenio",
              "in": "query",
              "description": "Número do convênio.",
              "required": true,
              "schema": {
                "type": "number"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "SUCESSO. A requisição foi atendida e resultou em resposta.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/RespostaDetalhamentoBoleto"
                  }
                }
              }
            },
            "400": {
              "description": "REQUISIÇÃO INVÁLIDA. O servidor não pôde processar a requisição devido a uma sintaxe de requisição malformada, estrutura da mensagem da requisição inválida, ou valores inválidos.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erro"
                  }
                }
              }
            },
            "401": {
              "description": "NÃO AUTORIZADO. A requisição requer autenticação do usuário.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErroOAuthNaoAutorizado"
                  }
                }
              }
            },
            "404": {
              "description": "NÃO ENCONTRADO. O servidor não conseguiu encontrar o recurso solicitado.",
              "content": {}
            },
            "500": {
              "description": "ERRO INTERNO. O servidor encontrou uma condição inesperada que o impediu de atender a requisição.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erro"
                  }
                }
              }
            }
          },
          "security": [
            {
              "OAuth2": ["cobrancas.boletos-info"]
            }
          ],
          "operationId": "detalhaBoletoBancarioId",
          "tags": ["boletos"]
        },
        "patch": {
          "summary": "Altera um boleto bancário",
          "description": "Realiza alterações nos valores dos campos presentes em um boleto bancário já criado.",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "Número do título de cobrança.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "gw-dev-app-key",
              "in": "query",
              "description": "É a chave de acesso do aplicativo do desenvolvedor utilizada em produção, obtida no Portal do Desenvolvedor. Essa chave será usada para identificação do aplicativo.\n\nPara os testes em ambiente de homologação, trocar por gw-app-key. \n\nEx: 0021239456d80136bebf005056891bed. \nCAMPO OBRIGATÓRIO.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "Authorization",
              "in": "header",
              "description": "É um “token” de acesso fornecido pelo OAuth 2.0.\n\n\n\nExample: Bearer [ACCESS_TOKEN]",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "Representação dos campos de requisição de uma solicitação de alteração dos dados de boletos bancários.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequisicaoAlterarBoleto"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "SUCESSO. A requisição foi atendida e resultou em resposta.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/RespostaAlterarBoleto"
                  }
                }
              }
            },
            "400": {
              "description": "REQUISIÇÃO INVÁLIDA. O servidor não pôde processar a requisição devido a uma sintaxe de requisição malformada, estrutura da mensagem da requisição inválida, ou valores inválidos.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erro"
                  }
                }
              }
            },
            "401": {
              "description": "NÃO AUTORIZADO. A requisição requer autenticação do usuário.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErroOAuthNaoAutorizado"
                  }
                }
              }
            },
            "403": {
              "description": "PROIBIDO. A requisição foi válida, mas o servidor está recusando a ação. O usuário pode não ter as permissões necessárias para um recurso ou pode precisar de uma conta de algum tipo.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erro"
                  }
                }
              }
            },
            "404": {
              "description": "NÃO ENCONTRADO. O servidor não conseguiu encontrar o recurso solicitado.",
              "content": {}
            },
            "500": {
              "description": "ERRO INTERNO. O servidor encontrou uma condição inesperada que o impediu de atender a requisição.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erro"
                  }
                }
              }
            }
          },
          "security": [
            {
              "OAuth2": ["cobrancas.boletos-requisicao"]
            }
          ],
          "x-codegen-request-body-name": "body",
          "operationId": "alteraBoletoBancarioId",
          "tags": ["boletos"]
        }
      },
      "/boletos/{id}/baixar": {
        "post": {
          "summary": "Permitir a baixa/cancelamento de um  título de cobrança.",
          "description": "Permite a baixa/cancelamento de um  título de cobrança.",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "Número do boleto bancário (único e exclusivo) que identifica o título e é usado para pagá-lo.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "gw-dev-app-key",
              "in": "query",
              "description": "É a chave de acesso do aplicativo do desenvolvedor utilizada em produção, obtida no Portal do Desenvolvedor. Essa chave será usada para identificação do aplicativo.\n\nPara os testes em ambiente de homologação, trocar por gw-app-key. \n\nEx: 0021239456d80136bebf005056891bed. \nCAMPO OBRIGATÓRIO.",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "Authorization",
              "in": "header",
              "description": "É um \"token\" de acesso fornecido pelo OAuth 2.0.\nEx: Bearer [ACCESS_TOKEN]",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequisicaoBaixaBoleto"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "SUCESSO. A requisição foi atendida e resultou em resposta.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/RespostaBaixaBoleto"
                  }
                }
              }
            },
            "400": {
              "description": "SOLICITAÇÃO INCORRETA. O servidor não pode ou não processará a solicitação devido a algo que parece ser um erro do lado cliente (por exemplo, sintaxe malformada, quadro de mensagem inválida ou roteamento de solicitação fraudulenta).",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erro"
                  }
                }
              }
            },
            "401": {
              "description": "NÃO AUTORIZADO. A requisição requer autenticação do usuário. Repita a requisição com um campo do header de autorização.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ErroOAuthNaoAutorizado"
                  }
                }
              }
            },
            "403": {
              "description": "PROIBIDO. A requisição foi válida, mas o servidor está recusando a ação. O usuário pode não ter as permissões necessárias para um recurso ou pode precisar de uma conta de algum tipo.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erro"
                  }
                }
              }
            },
            "500": {
              "description": "ERRO INTERNO. O servidor encontrou uma condição inesperada que impediu o cumprimento da solicitação.",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Erro"
                  }
                }
              }
            }
          },
          "security": [
            {
              "OAuth2": ["cobrancas.boletos-requisicao"]
            }
          ],
          "x-codegen-request-body-name": "body",
          "operationId": "permitirBaixaCancelamentoId",
          "tags": ["boletos"]
        }
      }
    },
    "components": {
      "schemas": {
        "RequisicaoRegistroBoletos": {
          "type": "object",
          "description": "Representação dos campos de requisição de uma solicitação de criação de boletos bancários.",
          "title": "",
          "properties": {
            "numeroConvenio": {
              "type": "integer",
              "description": "Número do convênio de Cobrança do Cliente. Identificador determinado pelo sistema Cobrança para controlar a emissão de boletos, liquidação, crédito de valores ao Beneficiário e intercâmbio de dados com o cliente.",
              "format": "int64"
            },
            "numeroCarteira": {
              "type": "integer",
              "description": "Características do serviço de boleto bancário e como ele deve ser tratado pelo banco.",
              "format": "int32"
            },
            "numeroVariacaoCarteira": {
              "type": "integer",
              "description": "Número da variação da carteira do convênio de cobrança.",
              "format": "int32"
            },
            "codigoModalidade": {
              "type": "integer",
              "description": "Identifica  a característica dos boletos dentro das modalidades de cobrança existentes no banco.  \n\nDomínio:\n01 - SIMPLES;\n04 - VINCULADA",
              "format": "int32"
            },
            "dataEmissao": {
              "type": "string",
              "description": "Data de emissão do boleto (formato \"dd.mm.aaaaa\"). "
            },
            "dataVencimento": {
              "type": "string",
              "description": "Data de vencimento do boleto (formato \"dd.mm.aaaaa\")."
            },
            "valorOriginal": {
              "type": "number",
              "description": "Valor de cobrança > 0.00, emitido em Real (formato decimal separado por \".\"). Valor do boleto no registro. Deve ser maior que a soma dos campos “VALOR DO DESCONTO DO TÍTULO” e “VALOR DO ABATIMENTO DO TÍTULO”, se informados. Informação não passível de alteração após a criação. No caso de emissão com valor equivocado, sugerimos cancelar e emitir novo boleto.",
              "format": "float"
            },
            "valorAbatimento": {
              "type": "number",
              "description": "Valor de dedução do boleto >= 0.00 (formato decimal separado por \".\").",
              "format": "float"
            },
            "quantidadeDiasProtesto": {
              "type": "number",
              "description": "Quantos dias após a data de vencimento do boleto para iniciar o processo de cobrança através de protesto. (valor inteiro >= 0).",
              "format": "float"
            },
            "quantidadeDiasNegativacao": {
              "type": "integer",
              "description": "Quantos dias após a data de vencimento do boleto para iniciar o processo de negativação através da opção escolhida no campo orgaoNegativador. (valor inteiro >= 0).",
              "format": "int32"
            },
            "orgaoNegativador": {
              "type": "integer",
              "description": "Código do Órgão Negativador.\n\nDomínio:\n10 - SERASA",
              "format": "int32"
            },
            "indicadorAceiteTituloVencido": {
              "type": "string",
              "description": "Indicador de que o boleto pode ou não ser recebido após o vencimento. Campo não obrigatório\n\nSe não informado, será assumido a informação de limite de recebimento que está definida no convênio.\n\nQuando informado \"S\" em conjunto com o campo \"numeroDiasLimiteRecebimento\", será definido a quantidade de dias (corridos) que este boleto ficará disponível para pagamento após seu vencimento. \nObs.: Se definido \"S\" e o campo \"numeroDiasLimiteRecebimento\" ficar com valor zero também será assumido a informação de limite de recebimento que está definida no convênio.\n\nQuando informado \"N\", fica definindo que o boleto NÃO permite pagamento em atraso, portanto só aceitará pagamento até a data do vencimento ou o próximo dia útil, quando o vencimento ocorrer em dia não útil.\n\nQuando informado qualquer valor diferente de \"S\" ou \"N\" será assumido a informação de limite de recebimento que está definida no convênio."
            },
            "numeroDiasLimiteRecebimento": {
              "type": "integer",
              "description": "Número de dias limite para recebimento. Informar valor inteiro > 0.",
              "format": "int32"
            },
            "codigoAceite": {
              "type": "string",
              "description": "Código para  identificar se o boleto de cobrança foi aceito (reconhecimento da dívida pelo Pagador).\n\nDomínios:\nA - ACEITE\nN - NAO ACEITE"
            },
            "codigoTipoTitulo": {
              "type": "integer",
              "description": "Código para identificar o tipo de boleto de cobrança.\n\nDomínios:\n1- CHEQUE\n2- DUPLICATA MERCANTIL\n3- DUPLICATA MTIL POR INDICACAO\n4- DUPLICATA DE SERVICO\n5- DUPLICATA DE SRVC P/INDICACAO\n6- DUPLICATA RURAL\n7- LETRA DE CAMBIO\n8- NOTA DE CREDITO COMERCIAL\n9- NOTA DE CREDITO A EXPORTACAO\n10- NOTA DE CREDITO INDULTRIAL\n11- NOTA DE CREDITO RURAL\n12- NOTA PROMISSORIA\n13- NOTA PROMISSORIA RURAL\n14- TRIPLICATA MERCANTIL\n15- TRIPLICATA DE SERVICO\n16- NOTA DE SEGURO\n17- RECIBO\n18- FATURA\n19- NOTA DE DEBITO\n20- APOLICE DE SEGURO\n21- MENSALIDADE ESCOLAR\n22- PARCELA DE CONSORCIO\n23- DIVIDA ATIVA DA UNIAO\n24- DIVIDA ATIVA DE ESTADO\n25- DIVIDA ATIVA DE MUNICIPIO\n31- CARTAO DE CREDITO\n32- BOLETO PROPOSTA\n33- BOLETO APORTE\n99- OUTROS.",
              "format": "int32"
            },
            "descricaoTipoTitulo": {
              "type": "string",
              "description": "Descrição do tipo de boleto."
            },
            "indicadorPermissaoRecebimentoParcial": {
              "type": "string",
              "description": "Código para identificação da autorização de pagamento parcial do boleto.\n\nDomínios:\nS - SIM\nN - NÃO\n"
            },
            "numeroTituloBeneficiario": {
              "type": "string",
              "description": "Número de identificação do boleto (correspondente ao SEU NÚMERO), no formato STRING (Limitado a 15 caracteres - Letras Maiúsculas)."
            },
            "campoUtilizacaoBeneficiario": {
              "type": "string",
              "description": "Informações adicionais sobre o beneficiário."
            },
            "numeroTituloCliente": {
              "type": "string",
              "description": "Número de identificação do boleto (correspondente ao NOSSO NÚMERO), no formato STRING, com 20 dígitos, que deverá ser formatado da seguinte forma:  “000” +  (número do convênio com 7 dígitos) + (10 algarismos - se necessário, completar com zeros à esquerda)."
            },
            "mensagemBloquetoOcorrencia": {
              "type": "string",
              "description": "Mensagem definida pelo beneficiário para ser impressa no boleto. (Limitado a 30 caracteres)"
            },
            "desconto": {
              "type": "object",
              "description": "Define a ausência ou a forma como será concedido o desconto para o Título de Cobrança.",
              "properties": {
                "tipo": {
                  "type": "integer",
                  "description": "Como o desconto será concedido, inteiro >= 0. Domínios: \n0 - SEM DESCONTO;\n1 - VLR FIXO ATE A DATA INFORMADA;\n2 - PERCENTUAL ATE A DATA INFORMADA; \n3 - DESCONTO POR DIA DE ANTECIPACAO.",
                  "format": "int32"
                },
                "dataExpiracao": {
                  "type": "string",
                  "description": "Se tipo > 0, Definir uma data de expiração do desconto, no formato \"dd.mm.aaaa\"."
                },
                "porcentagem": {
                  "type": "number",
                  "description": "Se tipo = 2, definir uma porcentagem de desconto >=  0.00 (formato decimal separado por \".\").",
                  "format": "float"
                },
                "valor": {
                  "type": "number",
                  "description": "Se tipo = 1, definir um valor de desconto >=  0.00 (formato decimal separado por \".\").",
                  "format": "float"
                }
              }
            },
            "segundoDesconto": {
              "type": "object",
              "properties": {
                "dataExpiracao": {
                  "type": "string",
                  "description": "Se tipo > 0, Definir uma data de expiração do desconto, no formato \"dd.mm.aaaa\" ."
                },
                "porcentagem": {
                  "type": "number",
                  "description": "Se tipo = 2, definir uma porcentagem de desconto >=  0.00 (formato decimal separado por \".\").",
                  "format": "float"
                },
                "valor": {
                  "type": "number",
                  "description": "Se tipo = 1, definir um valor de desconto >=  0.00 (formato decimal separado por \".\").",
                  "format": "float"
                }
              }
            },
            "terceiroDesconto": {
              "type": "object",
              "properties": {
                "dataExpiracao": {
                  "type": "string",
                  "description": "Se tipo > 0, Definir uma data de expiração do desconto, no formato \"dd.mm.aaaa\"."
                },
                "porcentagem": {
                  "type": "number",
                  "description": "Se tipo = 2, definir uma porcentagem de desconto >=  0.00 (formato decimal separado por \".\").",
                  "format": "float"
                },
                "valor": {
                  "type": "number",
                  "description": "Se tipo = 1, definir um valor de desconto >=  0.00 (formato decimal separado por \".\").",
                  "format": "float"
                }
              }
            },
            "jurosMora": {
              "type": "object",
              "description": "Código utilizado pela FEBRABAN para identificar o tipo de taxa de juros, sendo: \n0 - DISPENSAR, 1 - VALOR DIA ATRASO, 2 - TAXA MENSAL, 3 - ISENTO.  Se informado ‘0’ (zero) ou ‘3’ (três), os campos “PERCENTUAL DE JUROS DO TÍTULO” e “VALOR DO JUROS DO TÍTULO” não devem ser informados ou ser informados igual a ‘0’ (zero). \n\nO valor de juros e multa incidem sobre o valor atual do boleto (valor do boleto - valor de abatimento).",
              "properties": {
                "tipo": {
                  "type": "integer",
                  "description": "Código utilizado pela FEBRABAN para identificar o tipo de taxa de juros.\n\nDomínios: \n0 - DISPENSAR; \n1 - VALOR DIA ATRASO; \n2 - TAXA MENSAL; \n3 - ISENTO.",
                  "format": "int32"
                },
                "porcentagem": {
                  "type": "number",
                  "description": "Se tipo = 2, definir uma porcentagem de juros >=  0.00 (formato decimal separado por \".\").",
                  "format": "float"
                },
                "valor": {
                  "type": "number",
                  "description": "Se tipo = 1, definir um valor de juros >=  0.00 (formato decimal separado por \".\").",
                  "format": "float"
                }
              }
            },
            "multa": {
              "type": "object",
              "description": "Código para identificação do tipo de multa para o Título de Cobrança, inteiro >= 0, sendo: 0 - Sem multa, 1 - Valor da Multa, 2 - Percentual da Multa.  Se informado ‘0’ (zero) os campos “DATA DE MULTA”, “PERCENTUAL DE MULTA” e “VALOR DA MULTA” não devem ser informados ou ser informados iguais a ‘0’ (zero).\n\nO valor de juros e multa incidem sobre o valor atual do boleto (valor do boleto - valor de abatimento).",
              "properties": {
                "tipo": {
                  "type": "integer",
                  "description": "Como a multa será concedida, inteiro >= 0.\n\nDomínios: \n0 - DISPENSAR; \n1 - VALOR DIA ATRASO; \n2 - TAXA MENSAL; \n3 - ISENTO.",
                  "format": "int32"
                },
                "data": {
                  "type": "string",
                  "description": "Se tipo > 0, Definir uma data de multa, no formato \"dd.mm.aaaa\" "
                },
                "porcentagem": {
                  "type": "number",
                  "description": "Se tipo = 2,  definir porcentagem >=  0.00 (formato decimal separado por \".\").",
                  "format": "float"
                },
                "valor": {
                  "type": "number",
                  "description": "Se tipo = 1, definir valor do juros >=  0.00 (formato decimal separado por \".\").",
                  "format": "float"
                }
              }
            },
            "pagador": {
              "type": "object",
              "properties": {
                "tipoInscricao": {
                  "type": "integer",
                  "description": "Código que identifica o tipo de inscrição do Pagador.\n\nDomínios:\n1 - CPF;\n2 - CNPJ",
                  "format": "int32"
                },
                "numeroInscricao": {
                  "type": "integer",
                  "description": "Número de inscrição do pagador. \nPara o tipo = 1, informar numero do CPF. \nPara o tipo = 2, informar numero do CNPJ.",
                  "format": "int64"
                },
                "nome": {
                  "type": "string",
                  "description": "Nome do pagador."
                },
                "endereco": {
                  "type": "string",
                  "description": "Endereço do pagador."
                },
                "cep": {
                  "type": "integer",
                  "description": "Código postal do pagador.",
                  "format": "int32"
                },
                "cidade": {
                  "type": "string",
                  "description": "Cidade do pagador."
                },
                "bairro": {
                  "type": "string",
                  "description": "Bairro do pagador."
                },
                "uf": {
                  "type": "string",
                  "description": "Sigla do unidade federativa em que o pagador vive."
                },
                "telefone": {
                  "type": "string",
                  "description": "Número de telefone do pagador."
                }
              },
              "required": ["tipoInscricao", "numeroInscricao"]
            },
            "beneficiarioFinal": {
              "type": "object",
              "properties": {
                "tipoInscricao": {
                  "type": "integer",
                  "description": "Código que identifica o tipo de inscrição do beneficiário final.\n\nDomínios:\n1 - CPF;\n2 - CNPJ",
                  "format": "int32"
                },
                "numeroInscricao": {
                  "type": "integer",
                  "description": "Número de registro do beneficiário final. \nPara o tipo = 1, informar numero do CPF. \nPara o tipo = 2, informar numero do CNPJ.",
                  "format": "int64"
                },
                "nome": {
                  "type": "string",
                  "description": "Nome do beneficiário final"
                }
              }
            },
            "indicadorPix": {
              "type": "string",
              "description": "Código para informar se o boleto terá um QRCode Pix atrelado. Se informado caracter inválido,  assumirá 'N'.\n\nDomínios:\n'S' - QRCODE DINAMICO;\n'N' - SEM PIX; OUTRO - SEM PIX"
            }
          },
          "required": ["numeroConvenio", "dataVencimento", "valorOriginal"]
        },
        "RespostaRegistroBoletos": {
          "type": "object",
          "description": "Representação dos campos de resposta de uma solicitação de criação de boletos bancários.",
          "properties": {
            "numero": {
              "type": "string",
              "description": "Identificador exclusivo do boleto."
            },
            "numeroCarteira": {
              "type": "number",
              "description": "Número da carteira do convênio de cobrança"
            },
            "numeroVariacaoCarteira": {
              "type": "number",
              "description": "Número da variação da carteira do convênio de cobrança"
            },
            "codigoCliente": {
              "type": "number",
              "description": "Identificação do cliente."
            },
            "linhaDigitavel": {
              "type": "string",
              "description": "Linha digitável do boleto."
            },
            "codigoBarraNumerico": {
              "type": "string",
              "description": "Define o código de barras numérico do boleto."
            },
            "numeroContratoCobranca": {
              "type": "number",
              "description": "Define o número do contrato de cobrança do boleto."
            },
            "beneficiario": {
              "type": "object",
              "properties": {
                "agencia": {
                  "type": "number",
                  "description": "Agência do beneficiário."
                },
                "contaCorrente": {
                  "type": "number",
                  "description": "Número da conta corrente do beneficiário."
                },
                "tipoEndereco": {
                  "type": "number",
                  "description": "Código do tipo de endereço do beneficiário."
                },
                "logradouro": {
                  "type": "string",
                  "description": "Nome do logradouro do beneficiário."
                },
                "bairro": {
                  "type": "string",
                  "description": "Bairro do Beneficiário."
                },
                "cidade": {
                  "type": "string",
                  "description": "Cidade do Beneficiário."
                },
                "codigoCidade": {
                  "type": "number",
                  "description": "Identificador da cidade do beneficiário."
                },
                "uf": {
                  "type": "string",
                  "description": "Sigla do Estado do beneficiário."
                },
                "cep": {
                  "type": "number",
                  "description": "Código Postal do Beneficiário."
                },
                "indicadorComprovacao": {
                  "type": "string",
                  "description": "Indicador de prova de vida do beneficiário."
                }
              }
            },
            "qrCode": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "description": "URL do payload do QR Code Pix "
                },
                "txId": {
                  "type": "string",
                  "description": "Codigo que identifica a transação Pix - transactionID"
                },
                "emv": {
                  "type": "string",
                  "description": "BR Code no padrão EMV. Sequência de caracteres correspondente ao payload do QR Code Pix. "
                }
              }
            }
          }
        },
        "RespostaDetalhamentoBoleto": {
          "type": "object",
          "description": "Representação dos campos de resposta de uma solicitação de detalhamento de boletos bancários.",
          "title": "",
          "properties": {
            "codigoLinhaDigitavel": {
              "type": "string",
              "description": "Campo correpondente à linha digitável do boleto."
            },
            "textoEmailPagador": {
              "type": "string",
              "description": "E-mail do Pagador."
            },
            "textoMensagemBloquetoTitulo": {
              "type": "string",
              "description": "Mensagem para ser impressa no boleto."
            },
            "codigoTipoMulta": {
              "type": "number",
              "description": "Código para identificação do tipo de multa para o Título de Cobrança.\n\nDomínios:\n0 - Sem multa\n1 - Valor da Multa\n2 - Percentual da Multa. \n"
            },
            "codigoCanalPagamento": {
              "type": "number",
              "description": "Código para identificação da forma de pagamento e do canal onde foi pago o boleto. Composto por 3 dígitos.\n\nO primeiro dígito é:\n1    Espécie\n2    Débito em conta\n3    Cartão de crédito\n4    Cheque\n\nOs dois últimos:\n01 Agencias - Postos tradicionais\n02 Terminal de Auto-atendimento\n03 Internet (home / office banking)\n05 Correspondente bancário\n06 Central de atendimento(Call Center)\n07 Arquivo Eletrônico\n08 DDA\n61 Pix"
            },
            "numeroContratoCobranca": {
              "type": "number",
              "description": "Código adotado pelo Banco para identificar o Contrato entre este e a Empresa Cliente."
            },
            "codigoTipoInscricaoSacado": {
              "type": "number",
              "description": "Código que identifica o tipo de inscrição da Empresa ou Pessoa Física perante uma Instituição governamental.\n\nDomínios:\n\n1 - CPF\n\n2 - CNPJ"
            },
            "numeroInscricaoSacadoCobranca": {
              "type": "number",
              "description": "Número de inscrição da Empresa ou Pessoa Física perante uma Instituição governamental."
            },
            "codigoEstadoTituloCobranca": {
              "type": "number",
              "description": "Código da situação atual do boleto.\n\nDomínios:\n\n1 - NORMAL\n2 - MOVIMENTO CARTORIO\n3 - EM CARTORIO\n4 - TITULO COM OCORRENCIA DE CARTORIO\n5 - PROTESTADO ELETRONICO\n6 - LIQUIDADO\n7 - BAIXADO\n8 - TITULO COM PENDENCIA DE CARTORIO\n9 - TITULO PROTESTADO MANUAL\n10 - TITULO BAIXADO/PAGO EM CARTORIO\n11 - TITULO LIQUIDADO/PROTESTADO\n12 - TITULO LIQUID/PGCRTO\n13 - TITULO PROTESTADO AGUARDANDO BAIXA\n14 - TITULO EM LIQUIDACAO\n15 - TITULO AGENDADO\n16 - TITULO CREDITADO\n17 - PAGO EM CHEQUE - AGUARD.LIQUIDACAO\n18 - PAGO PARCIALMENTE\n19 - PAGO PARCIALMENTE CREDITADO \n21 - TITULO AGENDADO COMPE\n80 - EM PROCESSAMENTO (ESTADO TRANSITÓRIO)"
            },
            "codigoTipoTituloCobranca": {
              "type": "number",
              "description": "Código para identificar o tipo de boleto de cobrança.\n\nDomínios:\n\n1\t- CHEQUE\n2\t- DUPLICATA MERCANTIL\n3\t- DUPLICATA MTIL POR INDICACAO\n4\t- DUPLICATA DE SERVICO\n5\t- DUPLICATA DE SRVC P/INDICACAO\n6\t- DUPLICATA RURAL\n7\t- LETRA DE CAMBIO\n8\t- NOTA DE CREDITO COMERCIAL\n9\t- NOTA DE CREDITO A EXPORTACAO\n10\t- NOTA DE CREDITO INDULTRIAL\n11\t- NOTA DE CREDITO RURAL\n12\t- NOTA PROMISSORIA\n13\t- NOTA PROMISSORIA RURAL\n14\t- TRIPLICATA MERCANTIL\n15\t- TRIPLICATA DE SERVICO\n16\t- NOTA DE SEGURO\n17\t- RECIBO\n18\t- FATURA\n19\t- NOTA DE DEBITO\n20\t- APOLICE DE SEGURO\n21\t- MENSALIDADE ESCOLAR\n22\t- PARCELA DE CONSORCIO\n23\t- DIVIDA ATIVA DA UNIAO\n24\t- DIVIDA ATIVA DE ESTADO\n25\t- DIVIDA ATIVA DE MUNICIPIO\n31\t- CARTAO DE CREDITO\n32 \t- BOLETO PROPOSTA\n99\t- OUTROS"
            },
            "codigoModalidadeTitulo": {
              "type": "number",
              "description": "Código para identificar a característica dos boletos dentro das modalidades de cobrança existentes no banco.\n\nDomínios:\n\n1 - SIMPLES\n4 - VINCULADA"
            },
            "codigoAceiteTituloCobranca": {
              "type": "string",
              "description": "Código para  identificar se o boleto de cobrança foi aceito (reconhecimento da dívida pelo Pagador).\n\nDomínios:\n\nA - ACEITE\nN - NAO ACEITE"
            },
            "codigoPrefixoDependenciaCobrador": {
              "type": "number",
              "description": "Código agência da praça do pagador (endereço)."
            },
            "codigoIndicadorEconomico": {
              "type": "number",
              "description": "Código para identificar a moeda referenciada no boleto.\n\nDomínios:\n0\t- NENHUM\n1\t- FAJTR\n2\t- DOLAR\n3\t- EURO\n4\t- IENE\n5\t- MARCO ALEMAO\n6\t- FTR\n7\t- IDTR\n8\t- UFIR\n9\t- REAL\n10\t- SELIC\n11\t- IGP-M\n12\t- INPC\n13\t- TR (BESC)"
            },
            "numeroTituloCedenteCobranca": {
              "type": "string",
              "description": "Campo destinado para uso da Empresa Beneficiário para identificação do boleto. Equivalente ao SEU NÚMERO ou ao numeroTituloBeneficiario do request do registro"
            },
            "codigoTipoJuroMora": {
              "type": "number",
              "description": "Código utilizado pela FEBRABAN para identificar o tipo de taxa de juros. \n\nDomínios:\n0 - DISPENSAR\n1 - VALOR DIA ATRASO\n2 - TAXA MENSAL\n3 - ISENTO "
            },
            "dataEmissaoTituloCobranca": {
              "type": "string",
              "description": "Data de emissão do boleto."
            },
            "dataRegistroTituloCobranca": {
              "type": "string",
              "description": "Data de registro do boleto."
            },
            "dataVencimentoTituloCobranca": {
              "type": "string",
              "description": "Data de vencimento do boleto."
            },
            "valorOriginalTituloCobranca": {
              "type": "number",
              "description": "Valor original do boleto indicado quando do registro.",
              "format": "float"
            },
            "valorAtualTituloCobranca": {
              "type": "number",
              "description": "Valor atualizado do boleto, considerando possíveis multa, juros, mora, descontos, etc., que incidiram sob o valor original",
              "format": "float"
            },
            "valorPagamentoParcialTitulo": {
              "type": "number",
              "description": "Valores já recebidos em pagamentos parciais.",
              "format": "float"
            },
            "valorAbatimentoTituloCobranca": {
              "type": "number",
              "description": "Valor do abatimento (redução do valor do documento, devido a algum problema), expresso em moeda corrente.",
              "format": "float"
            },
            "percentualImpostoSobreOprFinanceirasTituloCobranca": {
              "type": "number",
              "description": "Percentual do IOF - Imposto sobre Operações Financeiras - de um boleto prêmio de seguro na sua data de emissão, expresso de acordo com o tipo de moeda.",
              "format": "float"
            },
            "valorImpostoSobreOprFinanceirasTituloCobranca": {
              "type": "number",
              "description": "Valor do IOF - Imposto sobre Operações Financeiras - de um boleto prêmio de seguro na sua data de emissão, expresso de acordo com o tipo de moeda.",
              "format": "float"
            },
            "valorMoedaTituloCobranca": {
              "type": "number",
              "description": "Valor do boleto expresso em moeda variável.",
              "format": "float"
            },
            "percentualJuroMoraTitulo": {
              "type": "number",
              "description": "Porcentagem sobre o valor do boleto a ser cobrada de juros de mora."
            },
            "valorJuroMoraTitulo": {
              "type": "number",
              "description": "Valor  sobre o valor do boleto a ser cobrado de juros de mora.",
              "format": "float"
            },
            "percentualMultaTitulo": {
              "type": "number",
              "description": "Porcentagem sobre o valor do boleto a ser cobrada de multa.",
              "format": "float"
            },
            "valorMultaTituloCobranca": {
              "type": "number",
              "description": "Valor  sobre o valor do boleto a ser cobrado de multa.",
              "format": "float"
            },
            "quantidadeParcelaTituloCobranca": {
              "type": "number",
              "description": "Quantidade de parcela do boleto."
            },
            "dataBaixaAutomaticoTitulo": {
              "type": "string",
              "description": "Data da baixa automática do boleto, conforme cadastrado no convênio."
            },
            "textoCampoUtilizacaoCedente": {
              "type": "string",
              "description": "Texto de observações destinado ao envio de mensagens livres, a serem impressas no campo de instruções da ficha de compensação do Boleto de Pagamento."
            },
            "indicadorCobrancaPartilhadoTitulo": {
              "type": "string",
              "description": "Código para identificação de Rateio de Crédito (partilhamento).\n\nDomínios:\n\nS - SIM\n\nN - NÃO"
            },
            "nomeSacadoCobranca": {
              "type": "string",
              "description": "Nome que identifica a pessoa, física ou jurídica, a qual se quer fazer referência."
            },
            "textoEnderecoSacadoCobranca": {
              "type": "string",
              "description": "Texto referente a localização da rua/avenida, número, complemento para entrega de correspondência."
            },
            "nomeBairroSacadoCobranca": {
              "type": "string",
              "description": "Texto referente ao bairro para entrega de correspondência."
            },
            "nomeMunicipioSacadoCobranca": {
              "type": "string",
              "description": "Texto referente ao nome do município componente do endereço utilizado para entrega de correspondência."
            },
            "siglaUnidadeFederacaoSacadoCobranca": {
              "type": "string",
              "description": "Código do estado, unidade da federação componente do endereço utilizado para entrega de correspondência."
            },
            "numeroCepSacadoCobranca": {
              "type": "number",
              "description": "Código adotado pelos Correios, para identificação de logradouros."
            },
            "valorMoedaAbatimentoTitulo": {
              "type": "number",
              "description": "Valor da moeda do abatimento.",
              "format": "float"
            },
            "dataProtestoTituloCobranca": {
              "type": "string",
              "description": "Data para inicialização do processo de cobrança via protesto."
            },
            "codigoTipoInscricaoSacador": {
              "type": "number",
              "description": "Código que identifica o tipo de inscrição do Beneficiário original do boleto de cobrança.\n\nDomínios:\n\n1 - CPF\n\n2 - CNPJ"
            },
            "numeroInscricaoSacadorAvalista": {
              "type": "number",
              "description": "Número de inscrição do Beneficiário original do boleto de cobrança."
            },
            "nomeSacadorAvalistaTitulo": {
              "type": "string",
              "description": "Nome que identifica a entidade, pessoa física ou jurídica, Beneficiário original do boleto de cobrança."
            },
            "percentualDescontoTitulo": {
              "type": "number",
              "description": "Percentual de desconto a ser concedido sobre o boleto de cobrança.",
              "format": "float"
            },
            "dataDescontoTitulo": {
              "type": "string",
              "description": "Data limite do desconto do boleto de cobrança."
            },
            "valorDescontoTitulo": {
              "type": "number",
              "description": "Valor de desconto a ser concedido sobre o boleto de cobrança.",
              "format": "float"
            },
            "codigoDescontoTitulo": {
              "type": "number",
              "description": "Código para identificação do tipo de desconto que deverá ser concedido.\n\nDomínios:\n\n0 - SEM DESCONTO\n\n1 - VLR FIXO ATE A DATA INFORMADA\n\n2 - PERCENTUAL ATE A DATA INFORMADA\n\n3 - DESCONTO POR DIA DE ANTECIPACAO"
            },
            "percentualSegundoDescontoTitulo": {
              "type": "number",
              "description": "Percentual do segundo desconto a ser concedido sobre o boleto de cobrança.",
              "format": "float"
            },
            "dataSegundoDescontoTitulo": {
              "type": "string",
              "description": "Data limite do segundo desconto do boleto de cobrança."
            },
            "valorSegundoDescontoTitulo": {
              "type": "number",
              "description": "Valor do segundo desconto a ser concedido sobre o boleto de cobrança.",
              "format": "float"
            },
            "codigoSegundoDescontoTitulo": {
              "type": "number",
              "description": "Código para identificação do tipo do segundo desconto que deverá ser concedido.\n\nDomínios:\n\n0 - SEM DESCONTO\n\n1 - VLR FIXO ATE A DATA INFORMADA\n\n2 - PERCENTUAL ATE A DATA INFORMADA\n\n3 - DESCONTO POR DIA DE ANTECIPACAO"
            },
            "percentualTerceiroDescontoTitulo": {
              "type": "number",
              "description": "Percentual do terceiro desconto a ser concedido sobre o boleto de cobrança.",
              "format": "float"
            },
            "dataTerceiroDescontoTitulo": {
              "type": "string",
              "description": "Data limite do terceiro desconto do boleto de cobrança."
            },
            "valorTerceiroDescontoTitulo": {
              "type": "number",
              "description": "Valor do terceiro desconto a ser concedido sobre o boleto de cobrança.",
              "format": "float"
            },
            "codigoTerceiroDescontoTitulo": {
              "type": "number",
              "description": "Código para identificação do tipo do terceiro desconto que deverá ser concedido.\n\nDomínios:\n\n0 - SEM DESCONTO\n\n1 - VLR FIXO ATE A DATA INFORMADA\n\n2 - PERCENTUAL ATE A DATA INFORMADA\n\n3 - DESCONTO POR DIA DE ANTECIPACAO"
            },
            "dataMultaTitulo": {
              "type": "string",
              "description": "Data para início da cobrança da multa."
            },
            "numeroCarteiraCobranca": {
              "type": "number",
              "description": "Número da carteira do convênio de cobrança."
            },
            "numeroVariacaoCarteiraCobranca": {
              "type": "number",
              "description": "Número da variação da carteira do convênio de cobrança."
            },
            "quantidadeDiaProtesto": {
              "type": "number",
              "description": "Número de dias decorrentes após a data de vencimento para inicialização do processo de cobrança via protesto."
            },
            "quantidadeDiaPrazoLimiteRecebimento": {
              "type": "number",
              "description": "Número de dias corridos para recebimento do boleto após a data de vencimento."
            },
            "dataLimiteRecebimentoTitulo": {
              "type": "string",
              "description": "Data limite para recebimento do boleto após a data de vencimento."
            },
            "indicadorPermissaoRecebimentoParcial": {
              "type": "string",
              "description": "Código para identificação da autorização de pagamento parcial do boleto.\n\nDomínios:\n\nS - SIM\n\nN - NAO"
            },
            "textoCodigoBarrasTituloCobranca": {
              "type": "string",
              "description": "Código de barras do boleto."
            },
            "codigoOcorrenciaCartorio": {
              "type": "number",
              "description": "Código para identificação das ocorrências de retorno do cartório.\n\nDomínios:\n\n0\t- TITULO PROTOCOLADO - ANTIGO \"TEC\"\n\n1\t- TITULO PAGO EM CARTORIO\n\n2\t- TITULO PROTESTADO - ANTIGO \"DDP\"\n\n3\t- TITULO RETIRADO CARTORIO - ANT. DDS\n\n4\t- TITULO SUSTADO JUDICIALMENTE\n\n5\t- TITULO RECUSADO SEM CUSTAS\n\n6\t- TITULO RECUSADO COM CUSTAS\n\n7\t- TITULO PAGO LIQUIDACAO CONDICIONAL\n\n8\t- TITULO ACEITO\n\n9\t- CUSTAS DE EDITAL\n\n20\t- LQ. CARTORIO AG. SEMI-AUTOM.\n\n21\t- CHQ DEVOLV. TIT. ENC. PROT.\n\n22\t- TITULO SUSTADO DEFINITIVO\n\n23\t- RETIRADA APÓS SUSTAÇÃO JUDICIAL\n\n59\t- PAGTO CONDICIONAL VIA SELTEC\n\n60\t- TITULO PAGO EM CARTORIO-SELTEC"
            },
            "valorImpostoSobreOprFinanceirasRecebidoTitulo": {
              "type": "number",
              "description": "Valor do IOF recebido.",
              "format": "float"
            },
            "valorAbatimentoTotal": {
              "type": "number",
              "description": "Valor do abatimento concedido.",
              "format": "float"
            },
            "valorJuroMoraRecebido": {
              "type": "number",
              "description": "Valor dos juros recebidos.",
              "format": "float"
            },
            "valorDescontoUtilizado": {
              "type": "number",
              "description": "Valor de desconto utilizado pelo pagador.",
              "format": "float"
            },
            "valorPagoSacado": {
              "type": "number",
              "description": "Valor pago.",
              "format": "float"
            },
            "valorCreditoCedente": {
              "type": "number",
              "description": "Valor líquido creditado ao beneficiário.",
              "format": "float"
            },
            "codigoTipoLiquidacao": {
              "type": "number",
              "description": "Código para identificação do tipo de liquidação.\n\nDomínios:\n\n1\tCAIXA\n2\tVIA COMPE\n3\tEM CARTORIO\n4\tEM CARTORIO - SEM EXISTENCIA 17 POS\n5\tTITULO EM LIQUIDACAO - ORIGEM AGE\n6\tTITULO EM LIQUIDACAO - PGT\n7\tBANCO POSTAL\n8\tTITULO LIQUIDADO VIA COMPE/STR"
            },
            "dataCreditoLiquidacao": {
              "type": "string",
              "description": "Data a qual será creditado o valor inerente ao título (este campo só será preenchido após a liquidação, ou seja, após codigoEstadoTituloCobranca = 6)."
            },
            "dataRecebimentoTitulo": {
              "type": "string",
              "description": "Data para a qual foi agendado o recebimento/pagamento do título."
            },
            "codigoPrefixoDependenciaRecebedor": {
              "type": "number",
              "description": "Código agência da praça do recebimento do boleto."
            },
            "codigoNaturezaRecebimento": {
              "type": "number",
              "description": "Código para identificar as ocorrências (rejeições, tarifas, custas, liquidação e baixas) do boleto.\n\nDomínios:\n\n1 - NORMAL\n2 - POR CONTA\n3 - POR SALDO\n4 - CHEQUE A COMPENSAR\n7 - LIQUIDADO NA APRESENTACAO\n8 - POR CONTA EM CARTORIO\n9 - EM CARTORIO"
            },
            "numeroIdentidadeSacadoTituloCobranca": {
              "type": "string",
              "description": "Número de identidade do sacado do título."
            },
            "codigoResponsavelAtualizacao": {
              "type": "string",
              "description": "Código para identificação do sistema/usuário responsável pela atualização do boleto."
            },
            "codigoTipoBaixaTitulo": {
              "type": "number",
              "description": "Código para identificação do tipo de baixa do boleto.\n\nDomínios:\n\n1\t- BAIXADO POR SOLICITACAO\n2\t- ENTREGA FRANCO PAGAMENTO\n9\t- COMANDADA BANCO\n10\t- COMANDADA CLIENTE - ARQUIVO\n11\t- COMANDADA CLIENTE - ON-LINE\n12\t- DECURSO PRAZO - CLIENTE\n13\t- DECURSO PRAZO - BANCO\n15\t- PROTESTADO\n31\t- LIQUIDADO ANTERIORMENTE\n32\t- HABILITADO EM PROCESSO\n35\t- TRANSFERIDO PARA PERDAS\n51\t- REGISTRADO INDEVIDAMENTE\n90\t- BAIXA AUTOMATICA"
            },
            "valorMultaRecebido": {
              "type": "number",
              "description": "Valor de multa recebido.",
              "format": "float"
            },
            "valorReajuste": {
              "type": "number",
              "description": "Valor do reajuste (índice econômico).",
              "format": "float"
            },
            "valorOutroRecebido": {
              "type": "number",
              "description": "Outros valores recebidos.",
              "format": "float"
            },
            "codigoIndicadorEconomicoUtilizadoInadimplencia": {
              "type": "number",
              "description": "Código do índice econômico utilizado para o cálculo de juros/multa.",
              "format": "float"
            }
          }
        },
        "RequisicaoBaixaBoleto": {
          "required": ["numeroConvenio"],
          "type": "object",
          "properties": {
            "numeroConvenio": {
              "type": "number",
              "description": "Identificador determinado pelo sistema de boleto bancário usado para emissão e liquidação do boleto e, portanto, usado para creditar o Beneficiário."
            }
          },
          "description": "Objeto de requisição da baixa de boletos."
        },
        "RespostaBaixaBoleto": {
          "required": ["dataBaixa", "horarioBaixa", "numeroContratoCobranca"],
          "type": "object",
          "properties": {
            "numeroContratoCobranca": {
              "type": "string",
              "description": "Número do contrato de cobrança do boleto bancário."
            },
            "dataBaixa": {
              "type": "string",
              "description": "Data do pedido de baixa do boleto bancário."
            },
            "horarioBaixa": {
              "type": "string",
              "description": "Horário do pedido de baixa do boleto bancário.HH:mm:ss"
            }
          },
          "description": "Objeto de resposta da baixa de boletos."
        },
        "Erro": {
          "type": "object",
          "properties": {
            "errors": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Código e versão do erro."
                  },
                  "message": {
                    "type": "string",
                    "description": "Mensagem de erro."
                  }
                }
              }
            }
          },
          "description": "Representação de um objeto de erro."
        },
        "ErroOAuthNaoAutorizado": {
          "type": "object",
          "properties": {
            "statusCode": {
              "type": "number",
              "description": "Código do estado do erro."
            },
            "error": {
              "type": "string",
              "description": "Tipo do erro."
            },
            "message": {
              "type": "string",
              "description": "Mensagem do erro."
            },
            "attributes": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string",
                  "description": "Mensagem do erro."
                }
              },
              "description": "Atributos do erro."
            }
          },
          "description": "Representação de um objeto de erro do OAuth 2.0."
        },
        "RespostaListaBoletos": {
          "type": "object",
          "description": "Objeto de Resposta do recurso GET Lista Boletos",
          "properties": {
            "indicadorContinuidade": {
              "type": "string",
              "description": "Indicador de que a consulta resultou em uma quantidade superior a 300 boletos (capacidade de resposta por requisição do serviço). Uma nova requisição, nos mesmos moldes, deve ser feita para consultar o restante dos boletos. Para tanto, deverá ser utilizado o valor informado no atributo \"Número Último Registro\" como valor inicial da próxima consulta.",
              "example": "s"
            },
            "quantidadeRegistros": {
              "type": "integer",
              "description": "Quantidade de boletos que atendem os critérios da requisição. ",
              "format": "int32",
              "example": 300
            },
            "proximoIndice": {
              "type": "integer",
              "description": "Número do último registro apresentado pela lista, que poderá ser utilizado como parâmetro inicial de uma nova requisição para consultar os boletos restantes.",
              "format": "int32",
              "example": 300
            },
            "boletos": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "numeroBoletoBB": {
                    "type": "string",
                    "description": "Número de identificação do boleto (correspondente ao NOSSO NÚMERO), no formato STRING, com 20 dígitos. Corresponde aos campos numeroTituloCliente (requisição do registro do boleto), numero (resposta do registro) e id (detalhamento do boleto).",
                    "example": "00024589070000000412"
                  },
                  "estadoTituloCobranca": {
                    "type": "string",
                    "description": "Texto da situação atual do boleto.\n\nPossíveis valores de retorno:\n- NORMAL  \n- MOVIMENTO CARTORIO\n- EM CARTORIO\n- TITULO COM OCORRENCIA DE CARTORIO\n- PROTESTADO ELETRONICO \n- LIQUIDADO   \n- BAIXADO \n- TITULO COM PENDENCIA DE CARTORIO \n- TITULO PROTESTADO MANUAL",
                    "example": "Mvto. Cartorio"
                  },
                  "dataRegistro": {
                    "type": "string",
                    "description": "Data de registro do boleto.\n",
                    "example": "01.05.2020"
                  },
                  "dataVencimento": {
                    "type": "string",
                    "description": "Data de vencimento do boleto\n",
                    "example": "01.05.2020"
                  },
                  "dataMovimento": {
                    "type": "string",
                    "description": "Data do evento que baixou, protestou ou liquidou o boleto. No caso de títulos vigentes, ainda que vencidos, equivale a data de registro.\n",
                    "example": "01.05.2020"
                  },
                  "valorOriginal": {
                    "type": "number",
                    "description": "Valor do boleto no registro.\n",
                    "format": "float",
                    "example": 1000
                  },
                  "valorAtual": {
                    "type": "number",
                    "description": "Valor atualizado do boleto.\n",
                    "format": "float",
                    "example": 10000
                  },
                  "valorPago": {
                    "type": "number",
                    "description": "Valor pago pelo pagador/sacado.\n",
                    "format": "float",
                    "example": 9000
                  },
                  "contrato": {
                    "type": "integer",
                    "description": "Código do contrato entre o Banco do Brasil e a empresa cliente.",
                    "format": "int32",
                    "example": 0
                  },
                  "carteiraConvenio": {
                    "type": "integer",
                    "description": "Número da carteira do convênio de cobrança.\n",
                    "format": "int32",
                    "example": 17
                  },
                  "variacaoCarteiraConvenio": {
                    "type": "integer",
                    "description": "Número da variação da carteira do convênio de cobrança.",
                    "format": "int32",
                    "example": 27
                  },
                  "codigoEstadoTituloCobranca": {
                    "type": "integer",
                    "description": "Código da situação atual do boleto:\n\nDomínios:\n01 - NORMAL  \n02 - MOVIMENTO CARTORIO\n03 - EM CARTORIO\n04 - TITULO COM OCORRENCIA DE CARTORIO\n05 - PROTESTADO ELETRONICO \n06 - LIQUIDADO   \n07 - BAIXADO \n08 - TITULO COM PENDENCIA DE CARTORIO \n09 - TITULO PROTESTADO MANUAL",
                    "format": "int32",
                    "example": 1
                  },
                  "dataCredito": {
                    "type": "string",
                    "description": "Data do crédito dos valores ao beneficiário",
                    "example": "01.05.2020"
                  }
                }
              }
            }
          }
        },
        "alteracaoData": {
          "title": "Root Type for alteracaoData",
          "type": "object",
          "properties": {
            "novaDataVencimento": {
              "type": "string",
              "description": "Nova data de vencimento do boleto."
            }
          },
          "description": "Alteração de data de vencimento do boleto."
        },
        "desconto": {
          "title": "Root Type for desconto",
          "type": "object",
          "properties": {
            "tipoPrimeiroDesconto": {
              "type": "integer",
              "description": "Código para identificação do tipo de desconto que deverá ser concedido como Primeiro Desconto. Valores a informar:\n0 - Sem desconto\n1 - Valor fixo até a data       \n2 - Percentual até a data informada\n3 - Desconto por dia de antecipação",
              "format": "int32"
            },
            "valorPrimeiroDesconto": {
              "type": "number",
              "description": "Valor do Primeiro Desconto\n",
              "format": "double"
            },
            "percentualPrimeiroDesconto": {
              "type": "number",
              "description": "Percentual de desconto sobre o valor do boleto no Primeiro Desconto\n",
              "format": "double"
            },
            "dataPrimeiroDesconto": {
              "type": "string",
              "description": "Data limite do Primeiro Desconto\n"
            },
            "tipoSegundoDesconto": {
              "type": "integer",
              "description": "Código para identificação do tipo de desconto que deverá ser concedido como Segundo Desconto. Valores a informar:\n0 - Sem desconto\n1 - Valor fixo até a data       \n2 - Percentual até a data informada\n3 - Desconto por dia de antecipação",
              "format": "int32"
            },
            "valorSegundoDesconto": {
              "type": "number",
              "description": "Valor do Segundo Desconto\n",
              "format": "double"
            },
            "percentualSegundoDesconto": {
              "type": "number",
              "description": "Percentual de desconto sobre o valor do boleto no Segundo Desconto\n",
              "format": "double"
            },
            "dataSegundoDesconto": {
              "type": "string",
              "description": "Data limite do Segundo Desconto\n"
            },
            "tipoTerceiroDesconto": {
              "type": "integer",
              "description": "Código para identificação do tipo de desconto que deverá ser concedido como Terceiro Desconto. Valores a informar:\n0 - Sem desconto\n1 - Valor fixo até a data       \n2 - Percentual até a data informada\n3 - Desconto por dia de antecipação",
              "format": "int32"
            },
            "valorTerceiroDesconto": {
              "type": "number",
              "description": "Valor do Terceiro Desconto\n",
              "format": "double"
            },
            "percentualTerceiroDesconto": {
              "type": "number",
              "description": "Percentual de desconto sobre o valor do boleto no Terceiro Desconto\n",
              "format": "double"
            },
            "dataTerceiroDesconto": {
              "type": "string",
              "description": "Data limite do Terceiro Desconto\n"
            }
          },
          "description": "Inclusão de desconto em Boleto Bancário"
        },
        "alteracaoDesconto": {
          "title": "Root Type for alteracaoDesconto",
          "type": "object",
          "properties": {
            "tipoPrimeiroDesconto": {
              "type": "integer",
              "description": "Código para identificação do tipo de desconto que deverá ser concedido como Primeiro Desconto. Valores a informar:\n0 - Sem desconto\n1 - Valor fixo até a data       \n2 - Percentual até a data informada\n3 - Desconto por dia de antecipação",
              "format": "int32"
            },
            "novoValorPrimeiroDesconto": {
              "type": "number",
              "description": "Novo valor do Primeiro Desconto",
              "format": "double"
            },
            "novoPercentualPrimeiroDesconto": {
              "type": "number",
              "description": "Novo percentual de desconto sobre o valor do boleto no Primeiro Desconto",
              "format": "double"
            },
            "novaDataLimitePrimeiroDesconto": {
              "type": "string",
              "description": "Nova data limite do Primeiro Desconto"
            },
            "tipoSegundoDesconto": {
              "type": "integer",
              "description": "Código para identificação do tipo de desconto que deverá ser concedido como Segundo Desconto. Valores a informar:\n0 - Sem desconto\n1 - Valor fixo até a data       \n2 - Percentual até a data informada\n3 - Desconto por dia de antecipação",
              "format": "int32"
            },
            "novoValorSegundoDesconto": {
              "type": "number",
              "description": "Novo valor do Segundo Desconto\n",
              "format": "double"
            },
            "novoPercentualSegundoDesconto": {
              "type": "number",
              "description": "Novo percentual de desconto sobre o valor do boleto no Segundo Desconto",
              "format": "double"
            },
            "novaDataLimiteSegundoDesconto": {
              "type": "string",
              "description": "Nova data limite do Segundo Desconto"
            },
            "tipoTerceiroDesconto": {
              "type": "integer",
              "description": "Código para identificação do tipo de desconto que deverá ser concedido como Terceiro Desconto. Valores a informar:\n0 - Sem desconto\n1 - Valor fixo até a data       \n2 - Percentual até a data informada\n3 - Desconto por dia de antecipação",
              "format": "int32"
            },
            "novoValorTerceiroDesconto": {
              "type": "number",
              "description": "Novo valor do Terceiro Desconto",
              "format": "double"
            },
            "novoPercentualTerceiroDesconto": {
              "type": "number",
              "description": "Novo percentual de desconto sobre o valor do boleto no Terceiro Desconto",
              "format": "double"
            },
            "novaDataLimiteTerceiroDesconto": {
              "type": "string",
              "description": "Nova data limite do Terceiro Desconto"
            }
          },
          "description": "Alteração de desconto em Boletos Bancários"
        },
        "alteracaoDataDesconto": {
          "title": "Root Type for alteracaoDataDesconto",
          "type": "object",
          "properties": {
            "novaDataLimitePrimeiroDesconto": {
              "type": "string",
              "description": "Nova data limite do Primeiro Desconto"
            },
            "novaDataLimiteSegundoDesconto": {
              "type": "string",
              "description": "Nova data limite do Segundo Desconto\n"
            },
            "novaDataLimiteTerceiroDesconto": {
              "type": "string",
              "description": "Nova data limite do Terceiro Desconto"
            }
          },
          "description": "Alteração das datas limites para concessão de desconto no Boleto Bancário"
        },
        "protesto": {
          "title": "Root Type for protesto",
          "type": "object",
          "properties": {
            "quantidadeDiasProtesto": {
              "type": "number",
              "description": "Quantos dias após a data de vencimento do boleto para iniciar o processo de cobrança através de protesto. (valor inteiro >= 0).",
              "format": "float"
            }
          },
          "description": "Inclusão de Protesto em Boleto Bancário"
        },
        "abatimento": {
          "title": "Root Type for abatimento",
          "type": "object",
          "properties": {
            "valorAbatimento": {
              "type": "number",
              "description": "Valor do abatimento (reduz valor do boleto) expresso em moeda corrente.",
              "format": "double"
            }
          },
          "description": "Inclusão de Abatimento em Boleto Bancário"
        },
        "alteracaoAbatimento": {
          "title": "Root Type for alteracaoAbatimento",
          "type": "object",
          "properties": {
            "novoValorAbatimento": {
              "type": "number",
              "description": "Novo valor do abatimento (reduz valor do boleto) expresso em moeda corrente.",
              "format": "double"
            }
          },
          "description": "Alterar valor do abatimento concedido em um Boleto Bancário"
        },
        "juros": {
          "title": "Root Type for juros",
          "type": "object",
          "properties": {
            "tipoJuros": {
              "type": "integer",
              "description": "Valor do Juros de Mora a ser aplicado sobre o valor do Boleto",
              "format": "int32"
            },
            "valorJuros": {
              "type": "number",
              "description": "Taxa do Juros de Mora a ser aplicado sobre o valor do Boleto",
              "format": "double"
            },
            "taxaJuros": {
              "type": "number",
              "description": "Código para identificação do tipo de Juros de Mora que deverá ser aplicado ao Boleto. Valores a informar:\n0 - Dispensar\n1 - Valor por dia de atraso       \n2 - Taxa Mensal\n3 - Isento",
              "format": "double"
            }
          },
          "description": "Inclusão de Juros de Mora em Boleto Bancário"
        },
        "multa": {
          "title": "Root Type for multa",
          "type": "object",
          "properties": {
            "tipoMulta": {
              "type": "integer",
              "description": "Porcentagem sobre o valor do boleto a ser cobrada de multa",
              "format": "int32"
            },
            "valorMulta": {
              "type": "number",
              "description": "Data para início da cobrança da multa",
              "format": "float"
            },
            "dataInicioMulta": {
              "type": "string",
              "description": "Código para identificação do tipo de multa"
            },
            "taxaMulta": {
              "type": "number",
              "description": "Valor  sobre o valor do boleto a ser cobrado de multa",
              "format": "float"
            }
          },
          "description": "Inclusão de multa em Boleto Bancário"
        },
        "negativacao": {
          "title": "Root Type for negativacao",
          "type": "object",
          "properties": {
            "quantidadeDiasNegativacao": {
              "type": "integer",
              "description": "Quantidade de dias, após o vencimento do Boleto, que o Boleto será Negativado",
              "format": "int32"
            },
            "tipoNegativacao": {
              "type": "integer",
              "description": "Código para identificação do tipo de Negativação que deverá ser aplicado ao Boleto. Valores a informar:\n1 - Incluir Negativação\n2 - Alterar Negativação       \n3 - Cancelar Negativação\n4 - Excluir Negativação",
              "format": "int32"
            }
          },
          "description": "Inclui condições de Negativação de Boleto Bancário"
        },
        "alteracaoSeuNumero": {
          "title": "Root Type for alteracaoSeuNumero",
          "type": "object",
          "properties": {
            "codigoSeuNumero": {
              "type": "string",
              "description": "Número adotado e controlado pelo Cliente, para identificar o título de cobrança."
            }
          },
          "description": "Alteração de Seu Número em Boleto Bancário"
        },
        "alteracaoEndereco": {
          "title": "Root Type for alteracaoEndereco",
          "type": "object",
          "properties": {
            "enderecoPagador": {
              "type": "string",
              "description": "Endereço do Pagador"
            },
            "bairroPagador": {
              "type": "string",
              "description": "Bairro do Pagador"
            },
            "cidadePagador": {
              "type": "string",
              "description": "Cidade do Pagador"
            },
            "UFPagador": {
              "type": "string",
              "description": "UF do Pagador"
            },
            "CEPPagador": {
              "type": "integer",
              "description": "CEP do Pagador",
              "format": "int32"
            }
          },
          "description": "Alteração de dados do Endereço do Pagador em Boleto bancário"
        },
        "alteracaoPrazo": {
          "title": "Root Type for alteracaoPrazo",
          "type": "object",
          "properties": {
            "quantidadeDiasAceite": {
              "type": "integer",
              "description": "Quantidade máxima de dias corridos para recebimento do boleto após a data de vencimento",
              "format": "int32"
            }
          },
          "description": "Alteração de prazo limite de aceite após vencimento de Boleto Bancário"
        },
        "RequisicaoAlterarBoleto": {
          "title": "Root Type for RequisicaoAlterarBoleto",
          "required": [
            "indicadorCancelarAbatimento",
            "indicadorAlterarDataDesconto",
            "indicadorAlterarDesconto",
            "indicadorAlterarEnderecoPagador",
            "indicadorAlterarPrazoBoletoVencido",
            "indicadorAlterarSeuNumero",
            "indicadorAtribuirDesconto",
            "indicadorCancelarProtesto",
            "indicadorCobrarJuros",
            "indicadorCobrarMulta",
            "indicadorDispensarJuros",
            "indicadorDispensarMulta",
            "indicadorIncluirAbatimento",
            "indicadorNegativar",
            "indicadorNovaDataVencimento",
            "indicadorProtestar",
            "indicadorSustacaoProtesto"
          ],
          "type": "object",
          "properties": {
            "numeroConvenio": {
              "type": "integer",
              "description": "Identificador determinado pelo sistema de boleto bancário para fornecer a emissão e liquidação do boleto e, portanto, usado para creditar o Beneficiário.",
              "format": "int32"
            },
            "indicadorNovaDataVencimento": {
              "type": "string",
              "description": "Indica a intenção de atribuir nova data de vencimento ao boleto. Valores a informar:\n\"S\" -> Sim, desejo alterar\n\"N\" -> Não, não desejo alterar"
            },
            "alteracaoData": {
              "$ref": "#/components/schemas/alteracaoData"
            },
            "indicadorAtribuirDesconto": {
              "type": "string",
              "description": "Indica a intenção de atribuir desconto ao boleto. Valores a informar:\n\"S\" -> Sim, desejo alterar\n\"N\" -> Não, não desejo alterar"
            },
            "desconto": {
              "$ref": "#/components/schemas/desconto"
            },
            "indicadorAlterarDesconto": {
              "type": "string",
              "description": "Indica a intenção de alterar desconto do boleto. Valores a informar:\n\"S\" -> Sim, desejo alterar\n\"N\" -> Não, não desejo alterar"
            },
            "alteracaoDesconto": {
              "$ref": "#/components/schemas/alteracaoDesconto"
            },
            "indicadorAlterarDataDesconto": {
              "type": "string",
              "description": "Indica a intenção de alterar a data do desconto do boleto. Valores a informar:\n\"S\" -> Sim, desejo alterar\n\"N\" -> Não, não desejo alterar"
            },
            "alteracaoDataDesconto": {
              "$ref": "#/components/schemas/alteracaoDataDesconto"
            },
            "indicadorProtestar": {
              "type": "string",
              "description": "Indica a intenção de protestar o boleto. Valores a informar:\n\"S\" -> Sim, desejo alterar\n\"N\" -> Não, não desejo alterar"
            },
            "protesto": {
              "$ref": "#/components/schemas/protesto"
            },
            "indicadorSustacaoProtesto": {
              "type": "string",
              "description": "Indica a intenção de sustar/cancelar um comando de protesto do boleto que já tenha sido processado pelo Banco. Valores a informar:\n\"S\" -> Sim, desejo alterar\n\"N\" -> Não, não desejo alterar."
            },
            "indicadorCancelarProtesto": {
              "type": "string",
              "description": "Deve ser utilizada para cancelar uma instrução de protesto enviada ao Banco na mesma data ou que ainda não tenha sido processada pelo Banco. Valores a informar:\n\"S\" -> Sim, desejo alterar\n\"N\" -> Não, não desejo alterar"
            },
            "indicadorIncluirAbatimento": {
              "type": "string",
              "description": "Indica a intenção de incluir abatimento no boleto. Valores a informar:\n\"S\" -> Sim, desejo alterar\n\"N\" -> Não, não desejo alterar"
            },
            "abatimento": {
              "$ref": "#/components/schemas/abatimento"
            },
            "indicadorCancelarAbatimento": {
              "type": "string",
              "description": "Indica a intenção de cancelar abatimento no boleto. Valores a informar:\n\"S\" -> Sim, desejo alterar\n\"N\" -> Não, não desejo alterar"
            },
            "alteracaoAbatimento": {
              "$ref": "#/components/schemas/alteracaoAbatimento"
            },
            "indicadorCobrarJuros": {
              "type": "string",
              "description": "Indica a intenção de cobrar juros no boleto. Valores a informar:\n\"S\" -> Sim, desejo alterar\n\"N\" -> Não, não desejo alterar"
            },
            "juros": {
              "$ref": "#/components/schemas/juros"
            },
            "indicadorDispensarJuros": {
              "type": "string",
              "description": "Indica a intenção de dispensar juros no boleto. Valores a informar:\n\"S\" -> Sim, desejo alterar\n\"N\" -> Não, não desejo alterar"
            },
            "indicadorCobrarMulta": {
              "type": "string",
              "description": "Indica a intenção de cobrar multa no boleto. Valores a informar:\n\"S\" -> Sim, desejo alterar\n\"N\" -> Não, não desejo alterar"
            },
            "multa": {
              "$ref": "#/components/schemas/multa"
            },
            "indicadorDispensarMulta": {
              "type": "string",
              "description": "Indica a intenção de dispensar cobrança de multa no boleto. Valores a informar:\n\"S\" -> Sim, desejo alterar\n\"N\" -> Não, não desejo alterar"
            },
            "indicadorNegativar": {
              "type": "string",
              "description": "Indica a intenção de negativar ou cancelar negativação boleto. (Inclusão ou Cancelamento) Valores a informar:\n\"S\" -> Sim, desejo alterar\n\"N\" -> Não, não desejo alterar"
            },
            "negativacao": {
              "$ref": "#/components/schemas/negativacao"
            },
            "indicadorAlterarSeuNumero": {
              "type": "string",
              "description": "Indica a intenção de alterar Seu Numero no boleto. Valores a informar:\n\"S\" -> Sim, desejo alterar\n\"N\" -> Não, não desejo alterar"
            },
            "alteracaoSeuNumero": {
              "$ref": "#/components/schemas/alteracaoSeuNumero"
            },
            "indicadorAlterarEnderecoPagador": {
              "type": "string",
              "description": "Indica a intenção de alterar endereço do Pagador no boleto. Valores a informar:\n\"S\" -> Sim, desejo alterar\n\"N\" -> Não, não desejo alterar"
            },
            "alteracaoEndereco": {
              "$ref": "#/components/schemas/alteracaoEndereco"
            },
            "indicadorAlterarPrazoBoletoVencido": {
              "type": "string",
              "description": "Indica a intenção de prazo de aceite de boleto vencido. Valores a informar:\n\"S\" -> Sim, desejo alterar\n\"N\" -> Não, não desejo alterar"
            },
            "alteracaoPrazo": {
              "$ref": "#/components/schemas/alteracaoPrazo"
            }
          },
          "description": "Representação dos campos de requisição de uma solicitação de alteração dos dados de boletos bancários."
        },
        "RespostaAlterarBoleto": {
          "title": "Root Type for RespostaAlterarBoleto",
          "type": "object",
          "properties": {
            "numeroContratoCobranca": {
              "type": "integer",
              "description": "Código adotado pelo Banco para identificar o Contrato entre este e a Empresa Cliente",
              "format": "int32"
            },
            "dataAtualizacao": {
              "type": "string",
              "description": "Data do pedido de atualização do boleto bancário."
            },
            "horarioAtualizacao": {
              "type": "string",
              "description": "Horário do pedido de atualização do boleto bancário.HH:mm:ss"
            }
          },
          "description": "Representação dos campos de resposta de uma solicitação de alteração dos dados de boletos bancários."
        },
        "Erro-v2": {
          "title": "Erro-v2",
          "type": "object",
          "properties": {
            "erros": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "codigoMensagem": {
                    "type": "string"
                  },
                  "versaoMensagem": {
                    "type": "string"
                  },
                  "textoMensagem": {
                    "type": "string"
                  },
                  "codigoRetorno": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "description": "Representação de um objeto de erro v2."
        },
        "Erro-v4": {
          "type": "object",
          "description": "Representa os campos de erro de uma requisição a um recurso.",
          "x-oad-type": "object",
          "properties": {
            "erros": {
              "type": "array",
              "description": "Lista que contém os objetos de erro.",
              "x-oad-type": "array",
              "items": {
                "type": "object",
                "description": "Objeto de erro.",
                "x-oad-type": "object",
                "properties": {
                  "codigo": {
                    "type": "string",
                    "description": "Código da mensagem de erro.",
                    "example": "9999999"
                  },
                  "versao": {
                    "type": "string",
                    "description": "Versão da mensagem de erro.",
                    "example": "1"
                  },
[...]
